/* SECCIÓN */
section {
  display: flex;
  justify-content: center;
  
  position: relative;
  top: -120px;
}
.contenedorPrincipal{
	max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* CONTENEDOR CONTENIDO */
.contenedorContenido {
  padding: 10px; /* Espacio interior del contenido */
  /*margin-left: 20px;*/
  flex: 1; /* El contenido ocupará todo el espacio restante */
  
  width: 100%;
}
/*
.contenedorContenido{
    display: flex;  
    margin-left: 40px;
    justify-content: center;
}
*/


/* NAVEGADOR */
.noeliaNavegador ul {
  background-color: var(--color-verde-claro);
  border-radius: 8px;
  padding: 16px;
  margin:16px 40px 16px 16px;
  position: sticky;
  top: 30px;
  box-shadow: var(--sombra-inputss);
  width: 210px;
}

.noeliaNavegador li a {
  font-family: var(--letra-tipo-tituloTargeta);
  font-size: var(--tamaño-letra-targeta);
  line-height: var(--altura-linia-targeta);
  color: var(--color-texto);
  text-decoration: none;
  font-weight: 0;
  margin-left: 8px;
}

.noeliaNavegador li i {
  font-size: var(--tamaño-letra-targeta);
  color: var(--color-texto);
  width: 20px;
  height: 20px;
}

.noeliaNavegador li {
  list-style: none;
}

.noeliaNavegador li div {
  margin-bottom: 16px;
  width: fit-content;
}

.noeliaNavegador li div:hover {
  background: var(--color-hover-gradiente);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
}

.noeliaNavegador li div:hover::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: var(--color-hover-gradiente);
}



/* TITULO */
.misPedidos {
  width: 100%;
}

.noeliaCabecera {
  margin-bottom: 16px;
  text-align: center;
}

.noeliaTitulo p {
  text-align: left;
  font-family: var(--letra-tipo-tituloPrincipal);
  font-size: var(--tamaño-letra-descripcion);
  line-height: var(--altura-linia-descripcion);
}



/* LÍNEA TITULO */
.linea {
  height: 2px;
  background-color: #111D38;
  color: white;
  position: sticky;
  bottom: 0;
  margin-bottom: 35px;
}



/* SCROLL */
.scroll {
  overflow-y: auto; /* Aplico scroll en el eje Y */
  overflow-x: hidden; /* Oculto el scroll en el eje X */
  height: 380px;
  padding-right: 5px; /* Añado un pequeño espacio entre el scroll y la 'tabla' */
  margin-right: 2.5px; /*-5*//* Compensa el espacio añadido para evitar cambios de diseño */
}

.scroll::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-verde-claro-transparente); /* Color del scrollbar */
  border-radius: 4px;
}



/*********************** TABLA DE PEDIDOS ***********************/
.tablaPedidos {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  margin-bottom: 20px;
}

.tablaPedidos thead {
  background-color: var(--color-verde-claro-transparente);
}

.tablaPedidos th,
.tablaPedidos td {
  padding: 16px;
  text-align: center;
}

.tablaPedidos th {
  font-family: var(--letra-tipo-tituloTargeta);
  font-size: var(--tamaño-letra-targeta);
  line-height: var(--altura-linia-targeta);
}

.tablaPedidos td {
  font-family: var(--letra-tipo-tituloTargeta);
  font-size: var(--tamaño-letra-targeta);
  line-height: var(--altura-linia-targeta);
}

.filaPedido {
  text-align: center;
}

.formulariobtn {
  text-align: center;
}
/*******************************************************************************************/

/*
.cabecera{
	border-radius:80px;
}

.filaPrincipal{
	border-radius: 6px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.50);
}
*/

.filaPrincipal {
    border-radius: 6px;
    transition: box-shadow 0.3s ease;
}

.filaPrincipal:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-verde-claro);
}

/*******************************************************************************************/

/* BOTÓN VER */
.ToSubmit {
  padding: 4px;
  width: 100%;
  border-radius: 8px;
  background: var(--color-naranga-boton);
  border: none;
  
  overflow: hidden;
  position: relative;
}

.ToSubmit label {
	font-family: var(--letra-tipo-tituloTargeta);
	font-size: var(--tamaño-letra-targeta);
	line-height: var(--altura-linia-targeta);
	color:var(--color-texto-blanco);
	
	position:relative;
	z-index:1;
}

.ToSubmit a {
	font-family: var(--letra-tipo-tituloTargeta);
	font-size: var(--tamaño-letra-targeta);
	line-height: var(--altura-linia-targeta);
	color:var(--color-texto-blanco);
	position:relative;
	z-index:1;
	text-decoration: none;
}

.ToSubmit label::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 250px;
  width: 130%;
  height: 170%;
  transform: skewX(25deg);
  transition: all 1s ease 0s;
  background-color: var(--color-hover-boton);
  color: white;
  z-index: -1;
}

.ToSubmit:hover label::before {
left: -65px;
    top: -6px;
    width: 670%;
    z-index: -1;
}



/*Media query*/
@media(max-width:900px){
	.noeliaNavegador{
		display:none; 
	}
}