<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PecoVerduras</title>
    <script src="https://kit.fontawesome.com/dbed3c338a.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/Javascript/peco.js" ></script>
    <link rel="stylesheet"  href="/css/variables.css">
    <link rel="stylesheet"  href="/css/footer.css">
    <link rel="stylesheet"  href="/css/header.css">
  	<link rel="stylesheet"  href="/css/AreaPersonal.css">
    <link rel="stylesheet"  href="/css/pecoClub.css">
    <link rel="stylesheet"  href="/css/direcciones.css">
    <link rel="stylesheet"  href="/css/agregarProducto.css">
    
</head>
<body>
	<div class="cursor"></div>
	<div class="preloader" id="cargarLoad">
		<div class="lds-roller">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
<header>
	<div class="FondoHeader1">
		<img src="/css/imagenes/Varias/fondo2.jpg">
	</div>
	<div class="FondoHeader2">
		<img src="/css/imagenes/Varias/presentacion2.png">
	</div>
		<div class="contenedorBurbujas">
        			<div class="burgujas">
						<span style="--i:11;"></span>
						<span style="--i:12;"></span>
						<span style="--i:24;"></span>
						<span style="--i:10;"></span>
						<span style="--i:14;"></span>
						<span style="--i:23;"></span>
						<span style="--i:18;"></span>
						<span style="--i:16;"></span>
						<span style="--i:19;"></span>
						<span style="--i:20;"></span>
						<span style="--i:22;"></span>
						<span style="--i:15;"></span>
						<span style="--i:18;"></span>
						<span style="--i:21;"></span>
						<span style="--i:15;"></span>
						<span style="--i:13;"></span>
						<span style="--i:26;"></span>
						<span style="--i:17;"></span>
						<span style="--i:13;"></span>
						<span style="--i:28;"></span>
					</div>
				</div>
	<div class="gerardContenedorDeskop">
		<div class="gerardPreHeaderDeskop">
			<div class="gerardBenvenido">
			<span>Bienvenido/a: </span><span class="usuario" sec:authorize="isAuthenticated()" th:text="${session.usuario.nombre}"></span>
      						  <span class="nuevoUsuario" sec:authorize="!isAuthenticated()"> Nuevo Usuario</span>
		</div>
		<div class="gerardCerrarSession">
				<span  sec:authorize="isAuthenticated()">
					<a th:href="@{/cerrar}">Cerrar Sesión
						<i class="fa-solid fa-right-from-bracket"></i>
					</a>
				</span>
			</div>
		</div>
		<div class="gerardContenedorNavegador">
			<div class="gerardContenedorWidth">
				<div class="gerardNavegadorGrande">
					<div class="gerardContenidoDesckop">
						<div class="gerardContenedorLogo">
							<a th:href="@{/}"><img src="/css/imagenes/Varias/logo.png"></a>
						</div>
						<ul>
							<li><a th:href="@{/tienda}">Tienda</a></li>
							<li><a th:href="@{/promociones}">Promociones</a></li>
							<li><a th:href="@{/quienesSomos}">Quiénes Somos</a></li>
							<li><a th:href="@{/contacto}">Contacto</a></li>
						</ul>
					</div>
				</div>
				<div class="gerardNavegadorPequeño">
					<div class="gerardContNavBotones">
						<a th:href="@{/signup}">
						<button id="pulsar2" class="gerardRegistro" sec:authorize="!isAuthenticated()">
							<i class="fa-solid fa-user-plus"></i>
						</button></a>
						<a th:href="@{/login}">
						<button id="pulsar3" class="gerardLogin" sec:authorize="!isAuthenticated()">
							<i class="fa-solid fa-user"></i>
						</button></a>
						<a th:href="@{/carro}">
						<button id="pulsar1" class="gerardCesta" sec:authorize="isAuthenticated()">
							<i class="fa-solid fa-basket-shopping"></i>
						</button></a>
						<a th:href="@{/usuario}">
						<button id="pulsar4" class="MiUsuario" sec:authorize="isAuthenticated()">
							<i class="fa-solid fa-house-user"></i>
						</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gerardContenedorMobil">
		<div id="fondoNegro"></div>
		<div class="gerardContenedorLogoMobil">
			<a th:href="@{/}">
					<img src="/css/imagenes/Varias/logo2.png"></a>
			<div class="gerardMenuMobilActivo">
				<div id="btnCerrarMovil" class="gerardCerrarMobil">
					<button>.</button>
				</div>
				<div class="gerardContenedorLogoActivo">
					<a th:href="@{/}">
					<img src="/css/imagenes/Varias/logo2.png"></a>
				</div>
				<div class="gerardContenedorOpciones">
				<div class="UsuarioMovil">
				<span>Bienvenido/a: </span><span class="usuario" sec:authorize="isAuthenticated()" th:text="${session.usuario.nombre}"></span>
      						  <span class="nuevoUsuario" sec:authorize="!isAuthenticated()"> Nuevo Usuario</span>
				</div>
					<ul class="gerardlistaOpciones">
						<li sec:authorize="isAuthenticated()"><p>Mi Usuario</p>
							<ol class="gerardOpcinesUsuario">
								<li><a th:href="@{/usuario}">Datos Personales</a></li>
								<li><a th:href="@{/pedidos}">Mis Pedidos</a></li>
								<li><a th:href="@{/favoritos}">Productos Favoritos</a></li>
								<li><a th:href="@{/direcciones}">Direcciones</a></li>
								<li><a th:href="@{/pagos}">Métodos de Pago</a></li>
								<li><a th:href="@{/club}">Peco Club</a></li>
								<li><a th:href="@{/comentario}">Mis Comentarios</a></li>
							</ol>
						</li>
						<li><p>Tienda</p>
							<ul class="gerardOpcionesTienda">
								<li><a th:href="@{/frutas}">Frutas</a></li>
								<li><a th:href="@{/verduras}">Verduras</a></li>
								<li><a th:href="@{/productos}">Productos Varios</a></li>
							</ul>
						</li>
						<li><a th:href="@{/promociones}">Promociones</a></li>
						<li><a th:href="@{/quienesSomos}">Quiénes Somos</a></li>
						<li><a th:href="@{/contacto}">Contacto</a></li>
						<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Iniciar Sesión</a></li>
						<li sec:authorize="!isAuthenticated()"><a th:href="@{/signup}">Registrar</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/cerrar}">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="gerardCestaHamburgesa">
			<div class="gerardCestaMobil">
				<a th:href="@{/carro}" sec:authorize="isAuthenticated()"><i class="fa-solid fa-basket-shopping"></i></a>
			</div>
			<div class="gerardContenedorbtnHamburgesa">
				<button id="btnMovil" class="btnHamburgesa">
					<span></span>
				</button>
			</div>
		</div>
	</div>
</header>

<section>

	<div class="contenedorPrincipal">
 		<div class="noeliaNavegador">
		 		<ul>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-house-user"></i>
		 				<a th:href="@{/usuario}">Mi área personal</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-regular fa-user"></i>
		 				<a th:href="@{/misDatosPersonales/{id} (id=${session.usuario.username})}">Datos personales</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-box"></i>
		 				<a th:href="@{/misPedidos}">Pedidos</a> 
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-heart"></i>
		 				<a th:href="@{/misProductosFavoritos}">Productos favoritos</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-location-dot"></i><!--  -->
		 				<a th:href="@{/misDirecciones}">Direcciones</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-credit-card"></i><!--  -->
		 				<a th:href="@{/misMetodosDePago}">Métodos de pago</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-award"></i>
		 				<a th:href="@{/pecoClub}">Peco club</a>
	 				</div>
	 			</li>
	 			<li>
	 				<div>
		 				<i class="fa-solid fa-comments"></i>
		 				<a th:href="@{/misComentarios}">Mis comentarios</a>
	 				</div>
	 			</li>
	 		<li sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
	 				<div>
		 				<i class="fa-solid fa-pencil"></i>
		 				<a th:href="@{/agregar/producto}">Añadir Producto</a>
	 				</div>
	 			</li>
	 			<li sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')">
	 				<div>
		 				<i class="fa-solid fa-book-open"></i>
		 				<a th:href="@{/gestion/producto}">Gestión Producto</a>
	 				</div>
	 			</li>
	 		</ul>
	 	</div>

	 	<div class="contenedorDirecciones">
	 			<div class="noeliaCabecera">

		 			<div class="noeliaTitulo">
		 				<p>Agregar/Modificar Producto</p>
		 				<div class="linea"></div>
		 			</div>
 				</div>
		 		<div class="colocacionInputs">
		 			<form class="camposFormularioPerfil" th:action="@{/agregar/producto/{id} (id=${product.idProductos})}" th:object="${product}" method="post">
		 				<div class="formularioAgregar">
			 				<div class="formularioIzq">
				 				<div class="productoNombre">
				 					<label>Nombre del producto</label>
				 					<input type=text th:field="*{nombre}">
				 				</div> 
				 				<div class="productoDescripcion">
				 					<label>Descripción del producto</label>
				 					<textarea type="text" th:field="*{descripcion}"></textarea>
				 				</div>
				 				<div class="productoEstado">
				 					<label>El producto estara activo?</label>
				 					<select th:field="*{estado}">
				 						<option value= ></option>
				 						<option value="a">Activado</option>
				 						<option value="d">Desactivado</option>
				 					</select>
				 				</div>
				 				<div class="productoPromocion">
				 					<label>Es un producto de promocion?</label>
				 					<select th:field="*{promocion}">
				 						<option value = ></option>
				 						<option value = "s">Si</option>
				 						<option value = "n">No</option>
				 					</select>
				 				</div>
				 				<div class="productoDescuento">
				 					<label>Qué descuento tiene ese producto</label>
				 					<input th:field="*{descuento}">
				 				</div>
				 				<div class="productoValoracion">
				 					<label>Qué valoracion le pones al producto?</label>
				 					<select th:field="*{valoracion}">
				 						<option value=0></option>
				 						<option value=1>1</option>
				 						<option value=2>2</option>
				 						<option value=3>3</option>
				 						<option value=4>4</option>
				 						<option value=5>5</option>
				 						<option value=6>6</option>
				 						<option value=7>7</option>
				 						<option value=8>8</option>
				 						<option value=9>9</option>
				 						<option value=10>10</option>
				 					</select>
				 				</div>
				 				<div class="productoCantidadMaxima">
				 					<label>Cuántos productos tienes en stock?</label>
				 					<input th:field="*{cantidadMaxima}">
				 				</div>
				 				<div class="productoPrecioUnitario">
				 					<label>Qué precio tiene por unidad el prodcuto?</label>
				 					<input th:field="*{precioUnitario}">
				 				</div>
				 				<div class="productoTipoProducto">
				 					<label>De qué tipo es el producto?</label>
				 					<select th:field="*{tipoProducto}" >
				        				<option value= ></option>
				        				<option value="Mandarina">Mandarinas</option>
				        				<option value="Manzana">Manzanas</option>
				        				<option value="Platano">Plátanos</option>
				        				<option value="Granada">Granadas</option>
				        				<option value="Pera">Peras</option>
				        				<option value="Mango">Mangos</option>
				        				<option value="Melocoton">Melocotones</option>
				        				<option value="Ciruela">Ciruelas</option>
				        				<option value="Uva">Uvas</option>
				        				<option value="Queso">Queso</option>
				        				<option value="Leche">Leche</option>
				        				<option value="Arroz">Arroz</option>
				        				<option value="JamonS">Jamón serrano</option>
				        				<option value="JamonY">Jamón york</option>
				        				<option value="Pasta">Pasta</option>
				        				<option value="Miel">Miel</option>
				        				<option value="Nuez">Nueces</option>
				        				<option value="Almendra">Almendras</option>
				        				<option value="Cacahuete">Cacahuetes</option>
				        				<option value="Acelga">Acelga</option>
				        				<option value="Apio">Apio</option>
				        				<option value="Calabaza">Calabaza</option>
				        				<option value="Patata">Patata</option>
				        				<option value="Puerro">Puerro</option>
				        				<option value="Cebolla">Cebolla</option>
				        				<option value="Zanahoria">Zanahoria</option>
				        				<option value="Tomate">Tomate</option>
				        				<option value="Coliflor">Coliflor</option>
				        				<option value="Calabacín">Calabacín</option>
				        				<option value="Berenjena">Berenjena</option>
				        			</select>
				 				</div>
				 				<div class="productoCategoria">
				 					<label>Qué categoria tiene?</label>
				 					<select th:field="*{categoria}">
				 						<option value = ></option>
				 						<option value = 1>Verduras</option>
				 						<option value = 2>Frutas</option>
				 						<option value = 3>Productos Varios</option>
				 					</select>
				 				</div>
				 				<div class="productoProveedor">
				 					<label>Qué Proveedor tiene?</label>
				 					<select th:field="*{proveedor}">
				 						<option value = ></option>
				 						<option value = 1>Verduras Madrid</option>
				 						<option value = 2>Frutas Lopez</option>
				 						<option value = 3>Variedades Juan</option>
				 					</select>
				 				</div>
			 				</div>
			 			<!-- <div class=formularioDrc>
			 					<div class=imagenProducto>
			 						<label>Carga imagen para las targetas</label>
			 						<div class=contenedorImagenAgregar>
			 							<img th:src="*{imagen}" src="/css/imagenes/Varias/imagenvacio.png" id="imagenTargetaAgregar">
			 						</div>
			 						<input type="file" th:field="*{imagen}" id="cargarImagenTargeta">
			 					</div>
			 					<div class=imagenProductoDetalle>
			 						<label>Carga imagen que se mostrara en detalle del producto</label>
			 						<div class=contenedorImagenAgregar>
			 							<img th:src="*{imagenDetalle}" src="/css/imagenes/Varias/imagenvacio.png" id="imagenDetalleAgregar">
			 						</div>
			 						<input type="file" th:field="*{imagenDetalle}" id="cargarImagenDetalle">
			 					</div>
			 				</div>-->
		 				</div>
			 				<div class=botonesContraseña>
				 				<button id="pulsarEditarPerfil" type="submit" class="ToSubmit">
			        				<label> Guardar</label>
			        			</button>
		        			</div>

		 			</form>
				</div>
		 
	 	</div>
	 </div>
 </section>

<footer>
	<div class=gerardContenedorFooter>
		<div >
			<ul class=gerardContendorContacto th:object="${empresa}">
				<li>Contacto:</li>
				<li>
					<span th:text="*{calle}"></span>
					<span th:text="*{numero}"></span>
				</li>
				<li th:text="*{email}"></li>
				<li th:text="*{telefono}"></li>
			</ul>
			</div>
		<div >
			<ul class=gerardContenedorLegal >
				<li>Legal:</li>
				<li>
					<a th:href="@{/politica}">Política de Privacidad</a>
				</li>
				<li>
					<a th:href="@{/NormaEnvio}">Normas de Envío</a>
				</li>
				<li>
					<a th:href="@{/terminos}">Términos y condiciones</a>
				</li>
			</ul>
			</div>
	</div>
	<div class="gerardImagenFooter">
		<img src="/css/imagenes/Varias/fondoFooter.jpg">
	</div>
	<div class="gerardCopyrigth">
		<div>
			<p>CopyRigth 
				<span> <i class="fa-regular fa-copyright"></i></span>
				2024
			</p>
		</div>
	</div>
</footer>
</body>
</html>